@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Vollkorn');

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf')
 }

* {
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    -webkit-transition: all 0.2s ease;
  	-moz-transition: all 0.2s ease;
  	-ms-transition: all 0.2s ease;
  	-o-transition: all 0.2s ease;
   	transition: all 0.2s ease;
}

html, body {
    height: 100%;
    line-height: 1.5;
}

span {
    display: block;
}


hr {
    width: 100%;
    height: 1px;
    float: left;
    border: none;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

h1 {
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
}

h2 {
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
}

p {
    font-family: "Vollkorn", Serif;
    font-size: 1em;
}

dialog {
    width: 200px;
    left: calc(50vw - 100px);
}
button {
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
}

button.left, button.right {
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 100%;
    float: left;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
}

button.left {
    left: 0;
}

button.right {
    right: 0;
}

button.left:hover, button.right:hover {
    background-color: #424242;
}

button.left:active, button.right:active {
}


span.left-arrow {
    width: 48px;
    height: 48px;
    background-image: url('../icons/ic_keyboard_arrow_left_white_48px.svg');
}

span.right-arrow {
    width: 48px;
    height: 48px;
    background-image: url('../icons/ic_keyboard_arrow_right_white_48px.svg');
}

#search-box-wrapper > i {
}

input {
    outline: none;
}

.search-box-wrapper > input[type="text"] {
    float: left;
    width: calc(100% - 48px);
    height: 10vh;
    outline: none;
    padding: 2px;
}

#search-box-wrapper {
    float: left;
    left: 10vw;
    top: 30px;
    width: 36vw;
    height: 500px;
    font-size: 2em;
    border: 4px solid black;
}

.mdl-select {
    font-size: 1em !important;
    float: left;
    padding: 20px;
}

#search-wrapper > .mdl-button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: calc(50vw - 74px);
}

.mdl-textfield__label {
    font-size: 1em !important;
    float: left;
}

section {
    position: relative;
    display: inline-block;
}

#search-wrapper {
    background-color: #fff;
    position: relative;
    left: 30vw;
    top: 25vh;
    width: 40vw;
    min-height: 20vh;
    float: left;
    display: block;
    padding-left: 20px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .26)
}

#wrapper {
    width: 100%;
    min-height: calc(100% - 68px);
    background: url('../images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-top: 68px;
}

header {
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 68px;
    float: left;
    background-color: #3F51B5;
}

#logo-wrapper {
    width: 100%;
    height: 68px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    vertical-align: bottom;
    padding-top: 20px;
    float: left;
    color: white;
    display: inline-block;
    background-color: transparent;
}

#content {
    z-index: 0;
    position: relative;
    width: 100%;
    left: 0;
    float: left;
    background-color: #fff;
}

@media (min-width: 900px) {
    #content {
        width: 800px;
        left: calc((100vw - 800px) / 2);
    }
}

.content-section {
    width: 100%;
    float: left;
}

#welcome, #photos, #announcements {
    margin: 30px;
    width: calc(100% - 60px);
    float: left;
}

.announcement-title {
    min-height: 1.2em;
    display: inline-block;
    clear: both;
}

.announcement-title > h2 {
    float: left;
}

.announcement-info {
    height: 100%;
    font-family: "Source Sans Pro", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    color: #757575;
    float: left;
    padding: 0 0 0 10px;
}

.menu-button {
    color: #fff;
    font-size: 16px;
    width: 100%;
    height: 100px;
    float: left;
    padding: 0;
	text-align: center;
    background-color: transparent;
}

.menu-button:hover {
    background-color: #bf0913; 
}

.menu-button:active {
    background-color: #a40810; 
}

#nav-button {
    width: 68px;
    height: 68px;
    float: left;
    outline: none;
    background-color: transparent;
}

.ic-menu {
    background-image: url("../icons/ic_menu_black_48px.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: inline-block;
}


@media (max-width: 768px) {
    #welcome-text, #welcome-image {
        width: 100%;
        padding-right: 0px;
        clear: both;
    }
    #slideshow {
        height: 300px;    
    }
    #content {
    }
}
