<!DOCTYPE html>
<html>
    <head>
{% include 'head.html' %}
    </head>
    <title>German Honor Society Tracker</title>
    <body>
{% include 'header.html' %}
        <div id="wrapper">
            <div id="content">
                <div class="card" id="status">
                    <h1>Hours</h1>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Hours</th>
                            <th>Description</th>
                            <th>Item</th>
                            <th>Approved</th>
                        </tr>
                        {% for hour in hours %}
                        <tr>
                            <td>{{ hour.id }}</td>
                            <td>{{ hour.date }}</td>
                            <td>{{ hour.name }}</td>
                            <td>{{ hour.hours }}</td>
                            <td>{{ hour.desc }}</td>
                            <td>{{ hour.item }}</td>
                            <td>{{ hour.approved }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <nav id="sidebar">
{% include 'sidebar.html' %}
            <a href="{{ url_for('logout') }}">
                <button id="logout-button" class="menu-button">Log Out</button>
            </a>
        </nav>
        <footer>
        </footer>
        <script src="/scripts/sidebar.js"></script>
    </body>
</html>
